h1, h2, h3, h4, h5, h6, p {color: white}

section {
	margin-bottom: 3px;
	padding: 5%;
}

.top-bar {
	background-color: #5EBDCD;
	margin-bottom: 3px;
}

.right a:hover {
	background-color: #5EBDCD;
}

#team-photo {
	background-color: #C37AB1;
	padding-top: 15%;
	padding-bottom: 15%;
}

#details {
	background-color: #FCC42E;
}

#products {
	background-color: #63C8B6;
	padding-top: 10%;
	padding-bottom: 10%;
}


#about-us {
	background-color: rgb(48,48,48);
	padding: 1%;
}

.flat-panel {
	/*background-color: #19BA9B;*/
	padding: 1%;
}

.product-logo {
	float:left;
	padding-right:3%;
	padding-bottom:3%;
}