h1, h2, h3, h4, h5, h6, p {color: white}

section {
	margin-bottom: 3px;
	padding: 5%;
}

.top-bar {
	background-color: #5EBDCD;
	margin-bottom: 3px;
}

.right a:hover {
	background-color: #5EBDCD;
}

#team-photo {
	background-color: #C37AB1;
	padding-top: 18%;
	padding-bottom: 18%;
}

#details {
	background-color: #FCC42E;
}

#about-us {
	background-color: rgb(48,48,48);
	padding: 1%;
}