h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: 'Raleway', sans-serif;

}
h4, h5, h6, p {
font-weight: 300;
}

section {
	
	padding-top: 2%;
  padding-bottom: 2%;
}

.top-bar {
	background-color: #d35400;
	margin: 0 0 0 0;
}

#Plogo {
	background-color: #2c3e50;
	padding-top: 2%;
	padding-bottom: 2%;
}


#products {
  background-color: #5B7FA3;
  padding-top: 2%;
  padding-bottom: 2%;
}
#details {
	background-color: #34495e;
}

#enterprise {
	background-color: #7f8c8d;
	padding-top: 5%;
	padding-bottom: 8%;
}


#about-us {
	background-color: rgb(48,48,48);
	padding-top: 1%;
  padding-bottom: 1%;
}

.subdetails{
 color: #ecf0f1;
}

.flat-panel {
	/*background-color: #19BA9B;*/
	padding: 1%;
}

.flat-panel img {
	margin-top: 18px;
}

.product-logo {
	float:left;
	padding-right:3%;
	padding-bottom:3%;
}


.well {
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 200px 0px;
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

/* CUSTOM CSS */

/* Pricing */

.pricing{
  margin: 18px 0;
  border: 0;
  }


.pricehover:hover{
-webkit-transform:scale(1.1); 
box-shadow: 0 0 30px rgba(0, 0, 0, 2.67);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
-moz-transform: scale(1.05);
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
cursor: pointer;

}

.pricehover.featured{
-webkit-transform:scale(1.15); 
box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;
-moz-transform: scale(1.15);
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
cursor: pointer;

}
.pricehover:hover .price{
background: #333;
display: inline-block;
border:none;
-moz-border-radius: none;
-webkit-border-radius: none;
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow:  none;
}

.pricehover h2{
    color: #FFF;
}

.pricehover:hover h2{
    color: #FFF;
}


.price{
  display: inline-block;
  background: #eaeaea;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-shadow:  inset 0px 8px 24px #cbcbcb;
  -webkit-box-shadow:  inset 0px 8px 24px #cbcbcb;
  -moz-box-shadow:  inset 0px 8px 24px #cbcbcb;
  border:none;
 height: 100px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 100px;
 margin:0 auto;
}
.price.featuredprice{
 background-color: #00CC00;
 border: 3px solid #00CC00;
 height: 100px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 width: 100px;
 margin:0 auto;
}

.price h2{
  text-align: center; line-height: 100px; color: #fff;
}


*Simple reset*/
* {margin: 0; padding: 0;}

canvas {
  display: block; 
  background: #6b92b9;
}



.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:2.2s;-moz-animation-duration:2.2s;-ms-animation-duration:2.2s;-o-animation-duration:2.2s;animation-duration:2.2s;}.animated.hinge{-webkit-animation-duration:2.2s;-moz-animation-duration:2.2s;-ms-animation-duration:2.2s;-o-animation-duration:2.2s;animation-duration:2.2s;}@-webkit-keyframes wobble {
  0% { -webkit-transform: translateX(0%); } 15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
  30% { -webkit-transform: translateX(20%) rotate(3deg); }
  45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
  60% { -webkit-transform: translateX(10%) rotate(2deg); }
  75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
  100% { -webkit-transform: translateX(0%); }
}

@-moz-keyframes wobble {
  0% { -moz-transform: translateX(0%); }
  15% { -moz-transform: translateX(-25%) rotate(-5deg); }
  30% { -moz-transform: translateX(20%) rotate(3deg); }
  45% { -moz-transform: translateX(-15%) rotate(-3deg); }
  60% { -moz-transform: translateX(10%) rotate(2deg); }
  75% { -moz-transform: translateX(-5%) rotate(-1deg); }
  100% { -moz-transform: translateX(0%); }
}

@-o-keyframes wobble {
  0% { -o-transform: translateX(0%); }
  15% { -o-transform: translateX(-25%) rotate(-5deg); }
  30% { -o-transform: translateX(20%) rotate(3deg); }
  45% { -o-transform: translateX(-15%) rotate(-3deg); }
  60% { -o-transform: translateX(10%) rotate(2deg); }
  75% { -o-transform: translateX(-5%) rotate(-1deg); }
  100% { -o-transform: translateX(0%); }
}

@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

a.wobble:hover {
  -webkit-animation-name: wobble;
  -moz-animation-name: wobble;
  -o-animation-name: wobble;
  animation-name: wobble;
}
